<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Pagina Web {%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    
    <header>
        <nav>
            <h1>Diseño Web</h1>
            <ul>
                 <li><a href="{{url_for('index')}}">Inicio</a></li>
                 <li><a href="{{url_for('about')}}">Acercade</a></li>
                 <li><a href="{{url_for('producto_nuevo')}}">Nuevo Producto</a></li>
            </ul>
        
        </nav>
    </header>
   
    <main>
        {%block content%}
        {%endblock%}
    </main>


<footer><p>@Diseño web 2026</p></footer>

</body>
</html>